.friend{
    max-width: 80px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
}
.title{
    font-size: large;
}
.fieldRow {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    margin-top: 0;
}

.online {
    color: green;
}

.offline {
    color: rgb(192, 23, 0);
}